
/* Main styles*/

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

/* Main Navigation */

.navi ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    height: 50px;
    width: 100%;
    color: white;
    background: #2D2D2D;
}

.navi ul li {
    padding: 5px;
    margin-top: 10px;
}

/* First section */

.section-1 {
    background-color: #2D2D2D;
    margin: 0;
    height: 600px;
}

h2 {
    padding: 15px;
    margin: 0;
    text-align: center;
}
