
/* Main styles*/

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

img {
    margin: 0;
    max-width: 100%;
}

/* Main Navigation */

.navi ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    height: 50px;
    width: 100%;
    color: white;
    background: #2D2D2D;
}

.navi ul li {
    padding: 5px;
    margin-top: 10px;
}

/* Carousel CSS */

h3 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-caption {
    padding-bottom: 250px;
    font-size: 36px;
    font-family: 'Press Start 2P', cursive;
}


/* First section */

h2 {
    padding: 15px;
    margin: 25px;
    text-align: center;
    color: #000;
    background-color: #fff;
}

.section-1 {
    background-color: #fff;
    margin: 0;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.latest {
    margin: 5px;
    height: 330px;
    width: 260px;
    background-color: lightgrey;
}

/* Section 2 ------------------------ */

.section-2 {
    background-color: #fff;
    margin: 0;
    width: 100%;
}

.hottest {
    width: 80%;
    margin: auto;
}

/* Section 3 ---------------------- */

.news-1 {
    width: 50%;
    float: left;
    height: 500px;
    background-color: lightgrey;
}

.news-2 {
    width: 50%;
    float: right;
    height: 500px;
    background-color: darkgrey;
}

.news-3 {
    width: 50%;
    float: left;
    height: 500px;
    background-color: darkgrey;
}

.news-4 {
    width: 50%;
    float: right;
    height: 500px;
    background-color: lightgrey;
}

