<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- External Links -->

        <!-- Boostrap CSS -->
            <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">

        <!-- Main CSS -->
            <link rel="stylesheet" href="/css/main.css">
   
    <title>LFG - Looking for Games | Your One Stop Game Shop</title>

</head>
<body>

    <div class="navi">
        <ul>
            <li>About Us</li>
            <li>Games List</li>
            <li>LOGO</li>
            <li>My Account</li>
            <li>Cart</li>
        </ul>
    </div>

    <!-- UI ROUTING -->

    <footer>

    </footer>

    <script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous">
    </script>
</body>
</html>